<!-- Navbar -->
<nav class="navbar">
    <h1>My Awesome App</h1>
    <div>
      <a href="http://localhost:8080/login">Login</a>
      <!-- <a href="/login">Login</a> -->
      <a href="/register">Register</a>
      <a href="/upload">Upload</a>

      <a href="http://localhost:8080/logout">Logout</a>
    </div>
  </nav>
  
  
  <h2>Pics</h2>
  <div class="pic-container">
    <mat-card *ngFor="let pic of pics" class="pic-card">
      <mat-card-header>
        <mat-card-title>ID: {{ pic.id }}</mat-card-title>
        <mat-card-subtitle>Uploader: {{ pic.uploaderName }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          <span class="label"><strong>Location:</strong></span> {{ pic.location }}
        </p>
        <p><strong>Status:</strong> {{ pic.status }}</p>
        <p><strong>Created At:</strong> {{ pic.createdAt | date: 'medium' }}</p>
        <ng-container *ngIf="isImage(pic.location)">
          <img [src]="getFileUrl(pic.location)" alt="Pic" class="pic-image">
        </ng-container>
        <ng-container *ngIf="!isImage(pic.location)">
          <a [href]="getFileUrl(pic.location)" download>Download File</a>
        </ng-container>
      </mat-card-content>

    </mat-card>
  </div>
  