/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Custom theme overrides */
.mat-button.approve-button {
  background-color: green !important;
  color: white !important;
}

.mat-button.decline-button {
  background-color: red !important;
  color: white !important;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
